@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.button {
    padding: 15px; 
    background-color: rgb(37, 11, 11);
    color: rgb(255, 255, 255);
    font-family: "Alkalami";
}

.image {
    width: 250px; 
}

.heading {
    font-size: 2rem;
}