@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script=swap');

.nav {
    font-family: 'alkalami'; 
}

.nav a {
    font-size: 1.1rem;
    color: #353740;
    align-items: center;
    text-decoration: none;
    font-family: "alkalami";
}

.nav a:hover{
    color: rgb(234, 102, 102)
}

@media only screen and (max-width: 500px) {
    .nav{
        height: 5px; 
        width: 20px; 
        margin: 10px; 
    }
  }