@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.formcontainer{
    border: 1px solid #d5bebe;
    padding: 50px; 
    background-color: rgb(250, 243, 243);
    color: rgb(37, 11, 11);
    margin: 30px; 
}

.button{
    background-color: rgb(250, 217, 217);
    color: rgb(21, 21, 21);
    font-family: "Alkalami";
}