@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Vollkorn";
    src: url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
    font-weight: bold;
    font-style: normal;
  }
  

  .main {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "Vollkorn";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .main .icon {
    width: 466px;
  }
   
  .main .entries{
    color: black; 
    width: 466px; 
    margin: 20px; 
    font-size: 1.7rem; 
    padding: 15px; 
  }
  
 