@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

  .main {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "Alkalami";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .main .icon {
    width: 466px;
  }
   
  .main .entries{
    color: black; 
    width: 466px; 
    margin: 20px; 
    font-size: 1.7rem; 
    padding: 15px; 
  }
  
  @media only screen and (max-width: 500px) {
    .main .entries{
        width: 350px;
    }
  }