@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.main {
    font-family: "Alkalami";
    color: #353740;
    margin: 40px; 
    width: 600px;
}

.description{
    font-size: 1.4rem; 
}

.image {
    width: 600px; 
}

.email {
    text-decoration: none; 
    color: black; 
    border: .5px solid;
    padding: 3px;  
}
.email:hover {
    text-decoration: none; 
    color: rgb(234, 102, 102)
}

@media only screen and (max-width: 500px) {
    .main{
        width: 300px;
    }
    
    .main .image{
        width: 300px;
    }
  }