@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.main {
    font-family: "Alkalami";
    color: #353740;
    margin: 40px; 
}

.description{
    font-size: 1.4rem; 
}

.image {
    width: 700px; 
}

.email {
    text-decoration: none; 
    color: black; 
    border: .5px solid;
    padding: 3px;  
}
.email:hover {
    text-decoration: none; 
    color: rgb(234, 102, 102)
}